:root {
    --background-color: #FFFFFF;                /* background */
    --accent-color: #eb1e22;                    /* highlighting */
    --secondary-background-color: rgba(250, 250, 250, 1);      /* secondary */
    --border-color: #bbbbbb;                    /* border */
    --uppertext-color: #79797d;                 
    --paragraph-color: #1d1d1f;                  
}

body {
    background-color: var(--secondary-background-color);
    background-image: linear-gradient(to bottom right, var(--secondary-background-color), rgba(128, 128, 128, 0.1));
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

p{
    line-height: 1.6;
    color: var(--paragraph-color);
}

h1{ 
    transition: all 0.6s;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}

h6{
    color: var(--uppertext-color);
    text-transform: uppercase;
}

hr {
    margin-top: 0;
    border-top: 1px solid var(--border-color);
    visibility: visible;
}
#nav {
    background-color: rgba(255, 255, 255, 0.98);
    padding: 10px;  
}
#nav a {
    text-decoration: none;
    margin: 0 10px;
}
#nav a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

div.container {
    position: relative;
    padding: 2.3em;
    animation: switchTransition 0.6s;
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.3), 1px 1px 5px rgba(128, 128, 128, 0.1);
    transform: scale(98%);
    transition: all 0.6s;
    height: 50vh;
}
.mask {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;

    background-image: url("../img/szurkoloi_hatter.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    -webkit-mask-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.1), black);
    mask-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.1), black);
    mask-repeat: no-repeat;
    mask-position: center;
}

div.container:hover {
    transform: scale(100%);
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.6), 1px 1px 5px rgba(128, 128, 128, 0.2);
}



.navbar-brand img{
    animation: switchTransition 0.6s;
    box-shadow: 4px 4px 5px rgba(128, 128, 128, 0.3), 1px 1px 5px rgba(128, 128, 128, 0.1);
    border-radius: 50%;
    transform: scale(98%);
    transition: all 0.6s;
}
#nav:hover .navbar-brand img{
    box-shadow: 4px 4px 5px rgba(128, 128, 128, 0.6), 1px 1px 5px rgba(128, 128, 128, 0.2);
}

#nav:hover .navbar-brand h1,.container:hover h1 {
    text-shadow: 2px 2px 5px rgba(128, 128, 128, 0.4), 1px 1px 5px rgba(128, 128, 128, 0.1);
}

.footerP{
    text-indent: 5%;
}

.NextArrow{
    height: auto;
    position: absolute;
    bottom: 0;
    right: 4%;
    font-size: xx-large;
    transition: all 0.6s;
}
.container:hover .NextArrow{
    transform: scale(200%);
    text-shadow: 2px 2px 5px rgba(128, 128, 128, 0.4), 1px 1px 5px rgba(128, 128, 128, 0.1);
    color: var(--accent-color);
}
.containerImage{
    -webkit-mask-image: linear-gradient(transparent, black);
    mask-image: linear-gradient(transparent, black);
}
.background{
    position: absolute;
}


@keyframes switchTransiton {
    from {transform: scale(100%);}
    to {transform: scale(98%);}
}


/*smootdropdown white edition*/
.smootdropdown_container .menuitem{
    position:absolute;
    display:block;
    opacity:0;
    cursor:pointer;
    pointer-events: none;
    transition: all 0.5s;
}
.smootdropdown_container:hover .menuitem{
    transition: all 0.5s;
    opacity: 1;
    pointer-events: auto;
}
.smootdropdown_container .menuitem a{
    box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    transform:translateY(100%);
    background-color: white;
    transition: all 0.6s;
}
.smootdropdown_container .menuitem a:hover{
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.6), 1px 1px 5px rgba(128, 128, 128, 0.2);
}
.smootdropdown_container:hover .menuitem a:active{
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.6), 1px 1px 5px rgba(128, 128, 128, 0.2);
    transition: all 0.1;
}
.smootdropdown_container:hover .menuitem a{
    transform: translateY(0%);
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.3), 1px 1px 5px rgba(128, 128, 128, 0.1);
}

@media screen and (max-width: 768px) {
    .smootdropdown_container{
        transition: padding-bottom 0.3s;
    }
    .smootdropdown_container:hover{
        padding-bottom: 8%;
    }
    .smootdropdown_container .menuitem a{
        box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
        transform:translateX(100%);
        transition: all 0.6s;
    }
    .smootdropdown_container:hover .menuitem a{
        transform: translateX(0%);
        box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.3), 1px 1px 5px rgba(128, 128, 128, 0.1);
    }
}


*{
    box-sizing: border-box;
}




.infografika-holder .flex-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-content: space-between;
    grid-template-rows: 30vh;
}
@media screen and (max-width: 768px) {
    .infografika-holder .flex-row{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh 30vh 30vh;
    }
}

.infografika-holder .flex-row div.year-holder{
    display: grid;
    align-content: center;
}
.infografika-holder .flex-row div.year-holder h1{
    text-align: center;
    margin: auto;
    width: 40%;
    border-radius: 20px;
    background-color: var(--border-color);
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.3), 1px 1px 5px rgba(128, 128, 128, 0.1);
    font-weight: bold;
}

.infografika-holder .flex-row div.img-holder{
    background-color: var(--border-color);
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.3), 1px 1px 5px rgba(128, 128, 128, 0.1);
    border-radius: 50%;
    margin: auto;
    height: 100%;
}
.infografika-holder .flex-row div.img-holder img{
    height: 100%;
}

.infografika-holder .flex-row div.destr-holder{
    text-align: center;
    display: grid;
    align-content: center;
}
.infografika-holder .flex-row div.destr-holder p{
    font-weight: bold;
    text-transform: uppercase;
}
.smaller{
    transform: scale(90%);
}

.infografika-holder .flex-row div{
    transition: all 0.6s;
    animation: floatIn 0.6s;
}
.infografika-holder .flex-row div{
    transform: scale(98%);
}
.infografika-holder .flex-row:hover div{
    transform: scale(100%);
}
.infografika-holder .flex-row:hover div.destr-holder{
    text-shadow: 2px 2px 5px rgba(128, 128, 128, 0.4), 1px 1px 5px rgba(128, 128, 128, 0.1);
}
.infografika-holder .flex-row div.img-holder,.infografika-holder .flex-row div.img-holder{
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.6), 1px 1px 5px rgba(128, 128, 128, 0.2);
}

@keyframes floatIn {
    from{
        opacity: 0.2;
        transform: translateY(50%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}



footer {
    background-color: var(--background-color);
    color: var(--paragraph-color);
    padding: 2rem;
    font-size: 0.9rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    padding: 1rem;
}

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between; 
        text-align: left; 
    }

    .footer-section {
        flex: 1;
        padding: 0 15px;
        margin-bottom: 0px;
    }
}

.footer-section {
    margin-bottom: 15px;
}

.footer-section h5 {
    color: var(--accent-color);
    margin-bottom: 15px;
}

.footer-section ul,
.footer-section p {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.6;
}

.social-links {
    display: flex;
}

.social-icon {
    margin-right: 10px;
    color: var(--uppertext-color);
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: var(--accent-color);
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid var(--border-color);
    padding-top: 10px;
}

footer, footer * {
    box-shadow: none !important;
}

.cleanlist {
    list-style: none;
    padding-left: 0; 
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: var(--paragraph-color);
    max-width: 600px; 
    margin: 0 auto; 
}

.cleanlist li {
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color); 
    font-size: 18px;
    position: relative; 
}

.cleanlist li:last-child {
    border-bottom: none; 
}

.cleanlist ul li::before {
    content: "— "; 
    color: var(--accent-color); 
    font-weight: bold;
}